<main class="container-fluid p-0 m-0">
  <div class="row g-0">
    <div class="col">
      <app-slider></app-slider>
    </div>
  </div>
  <div class="row g-0">
    <div class="col">
      <app-news></app-news>
    </div>
  </div>
  <div class="row g-0">
    <div class="col">
      <app-aboutus></app-aboutus>
    </div>
  </div>
  <div class="row g-0">
    <div class="col">
      <app-projects></app-projects>
    </div>
  </div>
  <div class="row g-0">
    <div class="col">
      <app-experiences></app-experiences>
    </div>
  </div>
</main>
