<div class="row bg-black">
  <div
    class="col d-flex justify-content-around container-news align-items-center flex-column flex-lg-row"
  >
    <div class="d-flex justify-content-center align-items-center">
      <i class="fas fa-rss fa-3x text-danger d-inline"></i>
      <p class="ml-2 text-news my-auto align-items-end d-inline">
        <span class="text-uppercase font-weight-bold">en directo</span>- SOHO
        está presente en el
        <span class="text-uppercase font-weight-bold"
          >digitalbank montevideo</span
        >
        "Experiencia de Usuario" por Alvaro Añón (SEO de Soho)
      </p>
    </div>
    <div class="">
      <button
        class="btn btn-primary btn-lg text-uppercase font-weight-bold mx-2 w-auto"
      >
        ver video
      </button>
      <button
        class="btn btn-outline-primary text-uppercase font-weight-bold mx-2 w-auto"
      >
        próximos eventos
      </button>
    </div>
  </div>
</div>
