<footer class="bg-black">
  <div class="row h-100">
    <div class="col d-flex justify-content-around align-items-center">
      <h4><i class="far fa-copyright"></i> Soho internet + humana</h4>
    </div>
    <div class="col d-flex align-items-center justify-content-around">
      <h4 class="text-primary font-weight-bold">Visitanos</h4>
      <h4 class="text-primary font-weight-bold">Escribenos</h4>
      <h4 class="text-primary font-weight-bold">Llamanos</h4>
    </div>
    <div class="col d-flex align-items-center justify-content-around">
      <h4 class="facebook">Facebook</h4>
      <h4 class="twitter">Twitter</h4>
      <h4 class="linkedin">Linkedin</h4>
      <h4 class="Youtube">Youtube</h4>
    </div>
  </div>
</footer>
