footer {
  padding: 2%;
  color: white;
  .facebook {
    color: #3b5998;
  }
  .twitter {
    color: #1da1f2;
  }
  .linkedin {
    color: #2867b2;
  }
  .Youtube {
    color: #c4302b;
  }
  .fa-copyright {
    color: white;
  }
}
