//COLORS
$primary-color: #02b300;
$primary-color-dark: #046d03;
//FONTS
@font-face {
  font-family: "Graphik";
  src: url("/assets/fonts/Graphik-Extralight.otf");
  src: url("/assets/fonts/Graphik-Extralight.otf") format("opentype");
}
