@import "src/theme.scss";
.card-body {
  .card-title {
    color: white;
    position: relative;
    &.divider {
      margin-bottom: 2rem;
    }
    &.divider::after {
      background: $primary-color none repeat scroll 0 0;
      bottom: -10px;
      content: "";
      height: 3px;
      left: 47.5%;
      position: absolute;
      width: 5%;
    }
  }
  .card-text {
    color: #b7bbbe;
  }
}
